
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$wather-forecast-app-primary: mat.define-palette(mat.$indigo-palette);
$wather-forecast-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$wather-forecast-app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$wather-forecast-app-theme: mat.define-light-theme((
  color: (
    primary: $wather-forecast-app-primary,
    accent: $wather-forecast-app-accent,
    warn: $wather-forecast-app-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($wather-forecast-app-theme);


// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$wather-forecast-app-primary: mat.define-palette(mat.$indigo-palette);
$wather-forecast-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$wather-forecast-app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$wather-forecast-app-theme: mat.define-light-theme((
  color: (
    primary: $wather-forecast-app-primary,
    accent: $wather-forecast-app-accent,
    warn: $wather-forecast-app-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($wather-forecast-app-theme);


$default-border-radius: 5px;

// html, body { height: 100%; }
html,
body {
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
}
// body { margin: 0; font-family: "Helvetica Neue", sans-serif; }
// body { margin: 0; font-family: Roboto, sans-serif; }
input {
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.custom-scroll1::-webkit-scrollbar {
  width: 5px;
}

.custom-scroll1::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 10px;
}

.custom-scroll1::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #ddd;
}

.global-button {
  height: 38px;
  border: none;
  padding: 5px 10px;
  margin-bottom: 15px;
  color: #fff;
  font-weight: 500;
  background-size: 200px 200px;
  background-position: -100px -100px;
  border-radius: $default-border-radius;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background: #e6543c;
  background: linear-gradient(45deg, #e6543c 0%, #e88653 35%, #eca041 100%);

  -webkit-box-shadow: 0px 3px 10px 0px rgba(255, 71, 43, 0);
  -moz-box-shadow: 0px 3px 10px 0px rgba(255, 71, 43, 0);
  box-shadow: 0px 3px 10px 0px rgba(255, 71, 43, 0);

  cursor: pointer;
  transition: all 0.5s;
}

.global-button:hover {
  -webkit-box-shadow: 0px 3px 10px 0px rgba(255, 71, 43, 0.5);
  -moz-box-shadow: 0px 3px 10px 0px rgba(255, 71, 43, 0.5);
  box-shadow: 0px 3px 10px 0px rgba(255, 71, 43, 0.5);
}

.global-button-default {
  height: 38px;
  // border: none;
  padding: 5px 10px;
  margin-bottom: 15px;
  color: #323232;
  font-weight: 500;
  background-size: 200px 200px;
  background-position: -100px -100px;
  border: 2px solid rgba(241, 241, 241, 1);
  border-radius: $default-border-radius;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  // background: rgb(232,232,232);
  // background: linear-gradient(45deg, rgba(232,232,232,1) 0%, rgba(241,241,241,1) 52%, rgba(244,244,244,1) 100%);

  -webkit-box-shadow: 0px 3px 10px 0px rgba(255, 71, 43, 0);
  -moz-box-shadow: 0px 3px 10px 0px rgba(255, 71, 43, 0);
  box-shadow: 0px 3px 10px 0px rgba(255, 71, 43, 0);

  cursor: pointer;
  transition: all 0.5s;
}

.global-button-default:hover {
  -webkit-box-shadow: 0px 3px 10px 0px rgba(26, 26, 26, 0.1);
  -moz-box-shadow: 0px 3px 10px 0px rgba(26, 26, 26, 0.1);
  box-shadow: 0px 3px 10px 0px rgba(26, 26, 26, 0.1);
}

.global-button-icon {
  height: 20px;
  color: #323232;
  font-weight: 500;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: unset;
  border: none;
  height: unset;

  cursor: pointer;
  transition: all 0.5s;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
