<div class="dashboard-chart-holder">
    <div class="dashboard-chart-contr">
        <div class="dashboard-chart-box">
            <div class="dashboard-chart-form-holder" >
                <p>Chart:</p>
                <div class="dashboard-chart-graph">

                </div>
                <p>Mean measurement error: 0</p>
                <p>Mean square error of measurement: 0</p>
                <div style="margin-bottom: 20px;" class="dashboard-chart-buttons">
                    <button (click)='selectNewDate()'>Select new date</button>
                </div>
            </div>                      
        </div>
    </div>
</div>