$orange-color: #f09030;

.dashboard-calendar-holder {
    display: flex;
    flex-direction: row;
    justify-content: center;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    //background-image: url('/assets/dashboard-calendar-bkg.jpg');
}

.dashboard-calendar-contr {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 600px;

    // border: 2px solid #000;
}

.dashboard-calendar-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    border: 2px solid #ebebeb;
    background-color: #fff;
    border-radius: 5px;
    height: 400px;
}

.dashboard-calendar-image {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: rgb(180,180,180);
    background: linear-gradient(45deg, rgba(180,180,180,1) 0%, rgba(217,217,217,1) 52%, rgba(244,244,244,1) 100%);

    img {
        width: 200px;
        pointer-events: none;
    }
}

.dashboard-calendar-form-holder {
    flex: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .dashboard-calendar-form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;

        // padding: 60px;

        .dashboard-calendar-form-top {
            width: 100%;
            margin-top: 30px;

            .dashboard-calendar-label {
                display: flex;
                flex-direction: row;
                justify-content: center;

                p {
                    font-size: 1.3em;
                    font-weight: 600;
                }
            }

            .dashboard-calendar-input {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                margin-top: 20px;

                input {
                    padding: 5px;
                    border: none;
                    border-bottom: 1px solid #dbdbdb;

                    transition: all 0.2s ease-in-out;
                }

                input:focus {
                    border-bottom: 1px solid $orange-color;
                }

                .user {
                    margin-bottom: 10px;
                }

                .pw {
                    margin-top: 10px;
                }
            }
        }

        

        .dashboard-calendar-buttons {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;

            button {
                width: 100%;
                background-color: $orange-color;
                color: #fff;
                border: none;
                padding: 10px 20px;

                cursor: pointer;
            }
        }
    }
}

.dashboard-calendar-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    button {
        width: 50%;
        background-color: $orange-color;
        color: #fff;
        border: none;
        padding: 10px 20px;

        cursor: pointer;
    }
}





