<div class="dashboard-load-holder">
    <div class="dashboard-load-contr">
        <div class="dashboard-load-box">
            <div class="dashboard-load-image">
                <img src="assets/logo.png" alt="">
            </div>
            <div class="dashboard-load-form-holder">
                <div class="dashboard-load-form">
                    <div class="dashboard-load-form-top">
                        <div class="dashboard-load-label">
                            <p>Please, load model...</p>
                        </div>
                        
                    </div>

                    <div class="dashboard-load-buttons">
                        <button (click)='loadModel()'>Load model...</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>